.sidebarOption {
    display: flex;
    align-items: center;
    color: #FFFFFF;
    height: 40px;
    cursor: pointer;
    transition: 200ms color ease-in;
}

.sidebarOption > p {
    margin-top: 10px;
    margin-left: 20px;
    font-size: 14px;
}
 
.sidebarOption:hover {
    color: #bb86fc;
}

.sidebarOption_icon {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    font-size: 40px !important;
}