.animeRow {
    margin-left: 20px;
    padding: 20px;
    display: flex;
    align-items: center;
    color: #ffffff;
}

.anime-bubble {
    background-color: #1e1e1e;
    margin-left: 100px;
    margin-right: 30px;
    display: flex;
    width: 80%;
    padding: 2rem;
    border-radius: 1rem;
    /* border-style: solid;
    border-top-width: 0;
    border-left-width: 0;
    border-right-width: 0;
    border-bottom-width: 3rem;
    border-color: #686868; */
    box-shadow:  0 0 .5rem 0 #00000071;
    justify-content: center;
}

.animeRow:hover {
    cursor: pointer;
    background-color: black;
    opacity: 0.8;
}

.animeRow_info {
    margin-left: 20px;
}

.animeRow_info > h1 {
    font-size: 16px;
}

.animeRow_info > p {
    font-size: 14px;
    margin-top: 3px;
    color: #ffffff;
}

.animeRow_album {
    width: 200px; /* Increased size */
    height: 200px; /* Increased size */
    object-fit: cover;
    margin-bottom: 20px;
}

.showmore {
    color: #bb86fc;
}